/*форма регистрации*/
.forms-content{
    border: 3px solid rgb(62, 58, 58);
    border-radius: 20px; /* добавляем закругленные углы */
    margin: 0 10%;
}

.login-form {
    display: flex;
    flex-direction: column;
    padding: 5%;
    
}

.login-label {
    margin-bottom: 5px;
    margin-top: 10px;
    color: black; /* Цвет текста белый */
    font-size: 30px;
    font-family: "Advent Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
}

.login-input {
    padding: 8px;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 5px;
    color: white;
}
.login-btn{
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #000;
    border: none;
    border-radius: 5px;
    color: white;
    transition: box-shadow 0.3s ease;

    font-size: 30px;
    font-family: "Advent Pro", sans-serif;
    font-optical-sizing: auto;

    
}
.login-btn:hover{
    
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.3);
}