/*  Главная страница*/
.main-screen {
    height: 100vh;
    background-image: url('../pictures/header.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}
.main-screen::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Цвет и прозрачность затемнения */
  }
.content {
    position: absolute;
    
    top: 40%;
    left: 10%;
    
    color: white;
}
.content h1{
    font-family: "Lobster", sans-serif;
    font-size: 54px;
    

}
.content p{
    font-size: 28px;
    font-family: "Advent Pro", sans-serif;
    font-optical-sizing: auto;
    padding-bottom: 7%;
    
}
.main-btn {
    font-family: "Advent Pro", sans-serif;
    font-weight: bold;
    padding: 10px 30px;
    font-size: 24px;
    background-color:rgb(255, 170, 30);
    border-radius: 5px;
    color: black;
    transition: box-shadow .074s ease, tansform .074s ease;
}

.main-btn:hover {
    box-shadow: 0 0 15px 5px rgba(255, 170, 30, 0.3);
    transform: scale(1.04);
}
